.parallax-bc-sun{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
    url('../img/sun-mask.png'),
    url('../img/morning.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    z-index: -1;
}
.parallax-bc-moon{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
    url('../img/moon-mask.png'),
    url('../img/night.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    z-index: -1;
}

.time__quote-block{
    position: relative;
    min-height: 100px;
    padding-top: 56px;
    max-width: 540px;
    transition: all 500ms ease;
}
.is-hidden{
    opacity: 0;
    transform: translateY(-200px);
    transition: all 500ms ease;
}
.quote-block{
    display: flex;
}
.quote-wrapp{
    position: absolute;
    transition: all 1000ms ease;
}
.quote-text{
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;
    line-height: 28px;
    max-width: 540px;
    padding-right: 40px;
    box-sizing: border-box;
}
.quote-btn-random{
    position: absolute;
    right: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
}
.quote-btn-icon{
    transition: all 1s ease-out;
}
.quote-author{
    font-weight: 700;
    font-size: 0.9rem;
    color: #fff;
    line-height: 28px;
    padding-top: 13px;
}

// show time
.time{
    position: relative;
    padding: 120px 0 100px;
}
.time-welcome-block{
    display: flex;
}
.time-welcome{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;
}
.time-current{
    padding-left: 10px;
}
.time-clock{
    display: flex;
    padding-top: 16px;
}
.time-curr-hours{
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-weight: 700;
    font-size: 5rem;
    & ~ .colon{
        padding-bottom: 5px;
    }
}
.time-curr-timezone {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding-left: 11px;
    padding-bottom: 15px;
}

// btn more / less timezone
.time__btn{
    position: absolute;
    right: 0;
    width: 115px;
    height: 45px;
    transition: all 250ms ease;
}
.btn-timezone{
    background-color: #fff;
    border-radius: 28px;
    padding: 15px 42px 15px 15px;
    width: 115px;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #808080FF;
    &:hover > .btn-more-svg,
    &:focus > .btn-more-svg {
        background-color: #999999;
    }
}
.btn-more-svg{
    position: absolute;
    top: calc(50% - 15px);
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #303030;
    transition: all 300ms ease;
}
.btn-more-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// hidden block
.timezone{
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.3871px);
    color: #303030;
    padding: 0;
}
.is-open{
    top: 0%;
    height: calc(100% + 40px);
    padding: 80px 20px;
    box-sizing: border-box;
    transition: height 300ms ease;
    overflow: hidden;
}
#is-dark{
    background: rgba(0, 0, 0, 0.75);
}
#is-dark > div > .timezone-title,
#is-dark > div > .timezome-desc{
    color: #fff;
}
.line{
    border-bottom: 1px solid #B8BABCFF;
    margin: 60px 0;
}
.timezone-title{
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 28px;
    letter-spacing: 1px;
}
.timezone-title--padding{
    padding-top: 42px;
}
.timezome-desc{
    font-weight: 700;
    font-size: 2rem;
    line-height: 28px;
    padding-top: 9px;
}

.timezone-btn-close{
    position: absolute;
    top: 15px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #B8BABCFF;
    animation-name: btn-animate;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes btn-animate {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px);
    }
}

@media screen and (min-width: 480px) {
    .time-curr-hours{
        font-size: 7rem;
    }
}

@media screen and (min-width: 768px) {
    .quote-text{
        font-size: 1.1rem;
    }
    .quote-author{
        font-size: 1.1rem;
    }
    .time{
        padding: 200px 0 100px;
    }
    .time-welcome{
        font-size: 1.2rem;
        letter-spacing: 4px;
    }
    .time-curr-hours{
        font-size: 9rem;
        & ~ .colon{
            padding-bottom: 15px;
        }
    }
    .time-curr-timezone{
        font-size: 2.5rem;
    }
    .timezone{
        display: flex;
        align-items: center;
        overflow-y: scroll;
        top: 100%;
    }
    .line{
        border-left: 1px solid #B8BABCFF;
        height: 100%;
        border-bottom: none;
        margin: 0 94px;
    }
    .is-open{
        top: auto;
        bottom: 0;
        height: 50vh;
        padding: 40px 60px;
    }
    .timezone-btn-close {
        display: none;
    }
    .timezone-title{
        letter-spacing: 3px;
    }
    .timezome-desc{
        line-height: 67px;
    }
}
@media screen and (min-width: 1024px) {
    .timezome-desc{
       font-size: 3.5rem;
    }
    .time__btn{
        width: 146px;
    }
    .btn-timezone{
        padding: 20px 35px 20px 0;
        width: 146px;
        font-size: 1rem;
    }
    .btn-more-svg{
        width: 40px;
        height: 40px;
        right: 9px;
        top: 10px;
    }
}
@media screen and (min-width: 1440px) {
.time-curr-hours{
    font-size: 12.5rem;
    }
}